/* Team */

h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
}

h2, h3, h4 {
  font-weight: 400;
}

h1 small {
  font-weight: 300;
}

.title {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 80px;
}

.btn {
  min-width: 150px;
}

.listing .btn-group-vertical {
  margin-top: 15px;
}

.member h3 {
  font-weight: 600;
  color: #333;
}

.member {
  text-align: center;
  margin: 3pt;
  padding: 13pt;
  background-color: white;
  box-shadow: 0 3px 3px #ccc;
  min-height: 620px;
  border-radius: 6px;
  margin-bottom: 47px;
}

.pet {
  min-height: 380px !important;
}

.member img {
  border-radius: 150px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}

.member p {
  text-align: justify;
}

.team-head {
  text-align: center;
  max-width: 500px;
  margin: 80px auto;
}

.team-head h1 {
  font-weight: 200;
}

.team-head p {
  font-size: 17px;
  color: #999;
}

.social {
  margin-bottom: 15px;
}

.social a {
  background: #548;
  border: 1px solid #548;
  border-radius: 4px;
  color: white;
  padding: 4px;
  text-decoration: none;
}

.member ul {
  text-align: left;
}
